<ion-header>
  <ion-toolbar>
    <ion-title>form-builder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <form-builder [form]="form" (change)="onChange($event)" [options]='options'></form-builder>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          Form JSON
          <div style="width: 100%">
            <div class="well jsonviewer">
              <pre id="json"><code class="language-json" #json></code></pre>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>



<!-- <div class="card card-body bg-light">
  <div id="builder"></div>
</div>
<h4>Rendered Form</h4>
<div class="card card-body bg-light">
  <div id="formio"></div>
</div>
<h4>Submission Data</h4>
<div class="card card-body bg-light jsonviewer">
  <pre id="json"></pre>
</div> -->